.mapPage{
    background-color: rgb(248, 238, 93);
    height: 100%;
}

.mapButton{
    --background: rgb(248, 179, 237);
}

.text{
    color: white;
}

.field{
    background-color: rgb(129, 214, 248);
}