<ion-header>
  <ion-toolbar>
    <!--Title-->
    <ion-title>Flashlight</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Division for design purposes-->
  <div class="everything">
    <!--Grid for structure-->
<ion-grid>
  <!--Row for spacing-->
  <ion-row class="firstRow">

  </ion-row>
  <!--Button with Icon for flashlight toggle-->
  <ion-row>
    <ion-col style="text-align: center;">
      <ion-button size="large" (click)="lightMethod()" class="button"><ion-icon name="flashlight"></ion-icon></ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
</ion-content>
