<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      All-In-1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">All-In-1</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>
<ion-grid>
  <ion-row >

  </ion-row>
  
  <ion-row>
  <ion-col style="text-align: center;">
    <ion-button expand="block" href="/mathcalc" class="button">Calculator</ion-button>
  </ion-col>
  </ion-row>

  <ion-row>
    <ion-col style="text-align: center;">
      <ion-button expand="block" href="/flashlight" class="button">Flashlight</ion-button>
    </ion-col>
    </ion-row>
</ion-grid>


</ion-content>
