<ion-header>
  <ion-toolbar>
    <ion-title>
      All-In-1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="everything">
<ion-grid>
  <ion-row class="divider">
  </ion-row>
  
  <ion-row>
  <ion-col style="text-align: center;">
    <ion-button expand="block" href="/mathcalc" class="buttonCalc">Calculator</ion-button>
  </ion-col>
  </ion-row>
 
  <ion-row class="divider">
  </ion-row>

  <ion-row>
    <ion-col style="text-align: center;">
      <ion-button expand="block" href="/flashlight" class="buttonFlash">Flashlight</ion-button>
    </ion-col>
    </ion-row>
    
    <ion-row class="divider">
    </ion-row>
    
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button expand="block" href="/map" class="buttonCo">Co-ordinates Checker</ion-button>
      </ion-col>
      </ion-row>
</ion-grid>
</div>
</ion-content>
